In [29]:
import pandas as pd
import numpy as np

In [30]:
data = pd.read_csv('train.csv')

In [31]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [32]:
columns_target = ['Survived']
columns_train =['Pclass', 'Sex', 'Age', 'Fare']

In [33]:
X = data[columns_train]
Y = data[columns_target]

In [34]:
#Выполняем провеку на пустые ячейки во всех столбцах масива

In [35]:
X['Age'].isnull().sum()

177

In [36]:
#заполняем все 177 пустых ячеек найдя среднее и медиауну всех значений в колонке

In [37]:
X['Age'] = pd.to_numeric(X['Age'], errors='coerce') #преобразовываем все значения в столбце в числа
X['Age'] = X['Age'].fillna(X['Age'].mean()) #находим медиану значений и заполняем пустые ячейки

C:\Users\danil\AppData\Local\Temp\ipykernel_13688\3078011391.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Age'] = pd.to_numeric(X['Age'], errors='coerce') #преобразовываем все значения в столбце в числа
C:\Users\danil\AppData\Local\Temp\ipykernel_13688\3078011391.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Age'] = X['Age'].fillna(X['Age'].mean()) #находим медиану значений и заполняем пустые ячейки

In [38]:
#заменяем значения male/female на числовые 0/1

In [39]:
d = {'male':0, 'female':1}

In [40]:
X['Sex'] = X['Sex'].apply(lambda x:d[x])

C:\Users\danil\AppData\Local\Temp\ipykernel_13688\1959253564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Sex'] = X['Sex'].apply(lambda x:d[x])

In [41]:
#Делим нашу модель на две части - обучающую и тестовую

In [42]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.33, random_state=42)

In [43]:
#Загружаем модель SVM для обучения модели

In [44]:
from sklearn import svm

In [45]:
predmodel = svm.LinearSVC()

In [46]:
#Обучение модели используя выборку используя функцию fit()

In [47]:
predmodel.fit(X_train,Y_train)

D:\anaconda3\lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\anaconda3\lib\site-packages\sklearn\svm\_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

LinearSVC()

In [48]:
#Делаем пресказание на тестовой выборке

In [49]:
predmodel.predict(X_test[0:10]) #предсказываем первых 10 значений

array([0, 0, 0, 1, 1, 0, 0, 0, 1, 1], dtype=int64)

In [50]:
#Проверка на точность предсказания

In [51]:
predmodel.score(X_test, Y_test)

0.7152542372881356

In [25]:
#Точность наших предсказаний 71%